<% provide :title, t(".title") %>
<div class="content">
  <div class="content_import">
    <h4><%= t(".title") %></h4>
    <%= form_tag admin_imports_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag t(".import") %>
    <% end %>
  </div>
</div>
